body {
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: red;
}

.header h2 {
    font-size: 30px;
}

.hero {

}

.products {

}

.shop {

}

.footer {
    
}
