* {
    margin: 0px;
}


body {
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: red;
    padding: 25px 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgb(17, 1, 1);
    transition: 5s ease;
    color: gb(105, 6, 6);
}

.header h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.nav a {
    color: whitesmoke;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.hero {
    height: 100vh;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.hero a {
    color: whitesmoke;
    text-decoration: none;
}

.products {

}

.shop {

}

.footer {
    
}
